@import "tailwindcss";
@config "../../tailwind.config.ts";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors dark:bg-[#0D1117] dark:text-[#C9D1D9];
  }
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

